index.css

@tailwind base;
@tailwind components;
@tailwind utilities



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

/* App.css mein */
.App {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  min-height: 100vh; /* pura viewport height */
}

/* Reset default margin/padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  padding: 10px 15px;
  background-color: chocolate;
  color: rgb(217, 231, 12);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #158f19;
  color: rgb(255, 0, 0);
}

button:hover {
  background-color: #dbd1d1;
}


